
<div class="container">
  <label>Website</label>
  <input type="text" id="rec4" #input class="form-control" (change)="store(input.value); input.value=''"> 
</div>

<br>

<iframe id="serviceFrameSend" [src]="website | safe" width="100%" height="500"  frameborder="0"></iframe>

<p>{{scraperInfo?.is_active}}</p>
  <div class="container">

    <form (ngSubmit)="sendScraperInfo()"  #scraperInfoForm="ngForm">
      <div class="form-group">
        <label>Collection name</label>
        <input [ngModel]="scraperInfo?.name" (ngModelChange)="scraperInfo.name = $event" class="form-control" name="name">
      </div>

      <div class="form-group">
        <label>Source</label>
        <input type="text" [ngModel]="scraperInfo?.source" (ngModelChange)="scraperInfo.source = $event" class="form-control" name="source">
      </div>

      <div class="form-group">
        <label>Selectors</label>
        <input type="text"[ngModel]="scraperInfo?.selectors" (ngModelChange)="scraperInfo.selectors = $event" class="form-control" name="selectors">
      </div>

      <div class="form-group">
        <label>Column names</label>
        <input type="text" [ngModel]="scraperInfo?.column_names" (ngModelChange)="scraperInfo.column_names = $event" class="form-control" name="column_names">
      </div>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<!-- <ul>
  <li *ngFor="let d of data; let i=index; trackBy: trackByFn">
    {{d}}
  </li>
</ul> -->

