
<label><b>Website</b></label>
<input type="text" name="website">
<button (click)="loadWebsite()" type="button">Load</button>

<iframe id="serviceFrameSend" src="https://irish.national-lottery.com/irish-lotto/past-results" width="100%" height="500"  frameborder="0"></iframe>
<!-- <iframe id="serviceFrameSend" src="{{website}}" width="100%" height="500"  frameborder="0"></iframe> -->

<div class="col-md-4">
  <div class="md-form">
  <i class="fa fa-mobile prefix" style="font-size: 46px; margin-top: -10px;"></i>
  <input type="text" id="rec4" #input class="form-control" (change)="store(input.value); input.value=''"> 
  <label for="rec4" class="">Contact Number</label>
  </div>
</div>

<ul>
  <li *ngFor="let d of data; let i=index; trackBy: trackByFn">
    {{d}}
  </li>
</ul>

<!-- <p>{{scrapeInfo.active}}</p> -->
  <!-- <div class="container">

    <form (ngSubmit)="sendScrapeInfo()" #scrapeInfoForm="ngForm">
      <div class="form-group">
        <label>title</label>
        <input type="text" [(ngModel)]="scrapeInfo.title" class="form-control" name="title">
      </div>

      <div class="form-group">
        <label>source</label>
        <input type="text" [(ngModel)]="scrapeInfo.source" class="form-control" name="source">
      </div>

      <div class="form-group">
        <label>selector</label>
        <input type="text" [(ngModel)]="scrapeInfo.selector" class="form-control" name="selector">
      </div>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
</div> -->

