
<div class="container">
  <label>Website</label>
  <input type="text" id="rec4" #input class="form-control" (change)="store(input.value); input.value=''"> 
</div>

<br>

<!-- <input type="text" name="newSite">
<input #box (keyup.enter)="onEnter(box.value)">
<button (click)="loadWebsite()" type="button">Load</button> -->

<!-- <iframe id="serviceFrameSend" src="https://irish.national-lottery.com/irish-lotto/past-results" width="100%" height="500"  frameborder="0"></iframe> -->
<iframe id="serviceFrameSend" [src]="website | safe" width="100%" height="500"  frameborder="0"></iframe>
<!-- [src] or [attr.src] -->

<p>{{scrapeInfo?.is_active}}</p>
  <div class="container">

    <form (ngSubmit)="sendScrapeInfo()"  #scrapeInfoForm="ngForm">
      <div class="form-group">
        <label>Collection name</label>
        <input type="text" (ngModel)="scrapeInfo?.name" (ngModelChange)="scrapeInfo.name = $event" class="form-control" name="name">
      </div>

      <div class="form-group">
        <label>Source</label>
        <input type="text" (ngModel)="scrapeInfo?.source" (ngModelChange)="scrapeInfo.source = $event" class="form-control" name="source">
      </div>

      <div class="form-group">
        <label>Selectors</label>
        <input type="text" (ngModel)="scrapeInfo?.selectors" (ngModelChange)="scrapeInfo.selectors = $event" class="form-control" name="selectors">
      </div>

      <div class="form-group">
        <label>Column names</label>
        <input type="text" (ngModel)="scrapeInfo?.column_names" (ngModelChange)="scrapeInfo.column_names = $event" class="form-control" name="column_names">
      </div>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<!-- <ul>
  <li *ngFor="let d of data; let i=index; trackBy: trackByFn">
    {{d}}
  </li>
</ul> -->

