<br><br><br><br><br><br><br><br><br><br>

<div class="center">
    <h1>Welcome!</h1>

    <div class="container">
        Welcome {{name}}.

        Welcome to the GS Data Collector! <a routerLink="/todos">here</a><br>

        Click here to show all data collection from this user ->

        <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Show collections</button><br>

    </div>

    <div class="container" *ngIf="welcomeMessageFromService">
        <h2>Your collections are the following:</h2>
        {{welcomeMessageFromService}}

    </div>
</div>