<h1>My Data Collectors's</h1>

<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container" style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Collection Type</th>
        <th>Frequency</th>
        <th>Made by</th>
        <th>Source</th>
        <th>Selector</th>
        <th>Column names</th>
        <th>Created</th>
        <th>Is active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scraperInfo of scraperInfos">
        <td>{{scraperInfo.id}}</td>
        <td>{{scraperInfo.name}}</td>
        <td>{{scraperInfo.collection_type}}</td>
        <td>{{scraperInfo.frequency}}</td>
        <td>{{scraperInfo.made_by}}</td>
        <td>{{scraperInfo.source}}</td>
        <td>{{scraperInfo.selectors}}</td>
        <td>{{scraperInfo.column_names}}</td>
        <td>{{scraperInfo.created | date}}</td>
        <td>{{scraperInfo.is_active}}</td>
        <td><button (click)="updateTodo(scraperInfo.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteTodo(scraperInfo.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>